


@keyframes slideUp {
  0% {
    opacity: 0.3;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    // transform: translateY(30px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}




@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
