body {
  -webkit-print-color-adjust: exact;
}

@media print {
  // .resume {
  //   // height: 100% !important;
  //   // width: 100% !important;
  //   // position: fixed;
  //   // top: 0;
  //   // left: 0;
  // }

  .full-sidebar {
    height: 10000px;
    .sidebar-toggle {
      display: none;
    }
  }
}