$light-dark: #252328;
$light-red: #ee786e;
$light-blue: #55607f;
$light-green: #a2ccb6;
$light-gray: #ebebee;

$fb-color: #3b5999;
$twitter-color: #55acee;
$pinterest-color: #bd081c;
$google-plus-color: #dd4b39;
$youtube-color: #cd201f;
$instagram-color: #e4405f;


$sidebar-width: 260px;
$short-sidebar-width: 50px;