// .active
.short-sidebar
  span.short-sidebar-toggle.js-sidebar-toggle
    span.bar
    span.bar
    span.bar
  .name-n-career
    span.name Vũ Minh Luân
    | &nbsp; &nbsp;
    span.career Web Developer