//- pug layout/pages --pretty  --out D:\Luan\github_repositories\vuminhluan_githubpage\vuminhluan.github.io
//- pug layout/pages --pretty --watch --out D:\Luan\github_repositories\vuminhluan_githubpage\vuminhluan.github.io
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Vu Minh Luan | Java Developer
		
		include includes/_head.pug
		
	body

		.resume

			.sidebar
				include parts/_sidebar.pug
			// .active
			.main.active
				//- MAIN VIEW
				// MAIN VIEW HERE
				block main_view
				// END MAIN VIEW HERE
				//- MAIN VIEW
		include includes/_javascript.pug