// .active
.full-sidebar.active
  span.sidebar-toggle.js-sidebar-toggle
    span.bar
    span.bar
    span.bar
  .sidebar-container
    .me
      .avatar
        a(href="/").avatar-link
          //- img(src="https://fakeimg.pl/150x150/?text=Luan")
          img(src="assets/img/resume/anhthe.jpeg")
      .name-n-career
        span.name&attributes({"data-i18n": "fullname"}) Vũ Minh Luân
        span.career&attributes({"data-i18n": "sidebar.job.name"}) Lập trình viên web
        span.birthday&attributes({"data-i18n": "birthday"}) 14/07/1997

      .goal.me-block
        .title&attributes({"data-i18n": "sidebar.job.objective.title"}) Mục tiêu nghề nghiệp
        .content
          p&attributes({"data-i18n": "sidebar.job.objective.descripton.sentence1"}) Mong muốn có một nơi làm việc năng động, tích cực để chia sẻ đam mê, phát triển bản thân toàn diện. Tạo ra những sản phẩm tốt nhất cho người dùng, đóng góp cho công ty và tập thể nơi mình làm việc.
          p&attributes({"data-i18n": "sidebar.job.objective.descripton.sentence2"}) Với sự học hỏi và phấn đấu, tôi tin mình sẽ là nhân viên tốt của công ty và công ty sẽ là nơi tôi thực hiện hóa mục tiêu của mình.
      |
      |
      .skills.me-block
        .title Kỹ năng
        .content
          p
            span Chuyên môn:
            span Java, Springboot
            span MongoDB, Elasticsearch
            span Apache Kafka
          p 
            span Ngoại ngữ:
            span Tiếng Anh (Đọc, Viết)
          p 
            span Kỹ năng mềm:
            span Làm việc nhóm, làm việc độc lập
            span Quản lý (team <= 4 người)
      |
      |
      .contact.me-block
        .title&attributes({"data-i18n": "sidebar.contact.title"}) Liên hệ
        .content
          p
            i.mdi.mdi-phone.icon
            span.link
              a(href="tel:+84981770642" data-i18n="sidebar.contact.phone") 098 177 0642
          p
            i.mdi.mdi-email.icon
            span.link
              a(href="mailto:vuminhluan97@gmail.com" data-i18n="sidebar.contact.email") vuminhluan97@gmail.com
          p
            i.mdi.mdi-web.icon
            span.link
              a(href="https://vuminhluan.github.io" data-i18n="sidebar.contact.website") vuminhluan.github.io
          p
            i.mdi.mdi-map-marker.icon
            span&attributes({"data-i18n": "sidebar.contact.address"}) 1578/67 Lê Trọng Tấn, Tây Thạnh, Tân Phú, TP.HCM