.main-block.education
  .title
    i.main-block-title-icon.mdi.mdi-lightbulb-on
    | Học vấn
  .content
    ul
      li
        p
          span.item-title Cử nhân Cao đẳng CNTT
          span Tốt nghiệp trường Cao đẳng Kỹ thuật Cao Thắng (2015 - 2018)
          br
          span Chuyên ngành: Công nghệ thông tin
          br
          span Loại Khá. Điểm trung bình 7.48
.main-block.experience
  .title
    i.main-block-title-icon.mdi.mdi-briefcase
    | Kinh nghiệm làm việc
  .content
    ul
      li
        p
          span.item-title công ty cổ phần giải pháp công nghệ SIGNIN
          span Thực tập sinh: Tháng 01/2018 - Tháng 03/2018
          br
          span Thiết kế web, lập trình web PHP
      li
        p
          span.item-title Công ty TNHH Truyền Thông ANGEL
          span Nhân viên lập trình web: Tháng 10/2018 - Tháng 07/2019
          br
          span Thiết kế web, lập trình web PHP (framework Codeigniter)
.main-block
  .title
    i.main-block-title-icon.mdi.mdi-cogs
    | Kỹ năng
  .content
    ul
      li
        p
          span.item-title
            | Chuyên môn
          span HTML/CSS, Javascript, PHP
          br
          span Codeigniter, Laravel
      li
        p
          span.item-title Ngoại ngữ
          span Tiếng Anh (Đọc, Viết)
      li
        p
          span.item-title Kỹ năng mềm
          span Làm việc nhóm, làm việc độc lập
.main-block.experience
  .title
    i.main-block-title-icon.mdi.mdi-run
    | Hoạt động
  .content
    ul
      li
        p
          span.item-title Tham gia cuộc thi olympic tin học cao thắng lần II
          //- span Tham gia cuộc thi Olympic tin học Cao Thắng lần II
      li
        p
          span.item-title Tham gia hyperspace Python Bootcamp Intek
          span Tham gia khóa học miễn phí Hyperspace Python Bootcamp Intek
          br
          span Lập trình Python căn bản
          br
          span Học và làm việc nhóm
.main-block.experience
  .title
    i.main-block-title-icon.mdi.mdi-thumb-up
    | Sở thích
  .content
    ul
      li
        p
          span Nghe nhạc, chơi game