// .active
.short-sidebar
  span.short-sidebar-toggle.js-sidebar-toggle
    span.bar
    span.bar
    span.bar
  .name-n-career
    // span.name Vũ Minh Luân
    span.name&attributes({"data-i18n": "fullname"})
    | &nbsp; &nbsp;
    // span.career Web Developer
    span.career&attributes({"data-i18n": "sidebar.job.name"})