// Favicon
link(rel="shortcut icon", href="assets/img/favicon/favicon-96x96.png", type="image/png")
|
|
// Font
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i&display=swap&subset=vietnamese")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=vietnamese")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Dosis:500,600")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700")
|
|
// Bootstrap
//- link(rel="stylesheet", href="assets/plugins/css/bootstrap4.2.1.min.css")
link(rel="stylesheet", href="assets/plugins/css/bootstrap-grid.min.css")
|
|
//- link(rel="stylesheet", href="assets/plugins/css/owl.carousel.min.css")
//- link(rel="stylesheet", href="assets/plugins/css/slick-carousel.min.css")
//- link(rel="stylesheet", href="assets/plugins/css/animate.css")
|
|
// Font Awesome All
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://cdn.materialdesignicons.com/4.0.96/css/materialdesignicons.min.css")

//- link(rel="stylesheet", href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css")
|
|
link(rel="stylesheet", href="assets/css/style.css")
