script(src="assets/plugins/js/jquery3.3.1.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
//- script(src="assets/plugins/js/bootstrap4.2.1.min.js")
//- script(src="assets/plugins/js/owl.carousel.min.js")
//- script(src="assets/plugins/js/slick-carousel1.9.0.min.js")
//- script(src="assets/plugins/js/wow.min.js")
//- script(src="assets/plugins/js/noframework.waypoints.js")
//- script(src="assets/plugins/js/counterup2.purejs.js")
script(src="assets/js/utilities.js")
script(src="assets/js/main.js")
